<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.exp.shuadan.mapper.ProductMapper">

    <resultMap id="BaseResultMap" type="com.exp.shuadan.entity.product.Product">
        <result column="id" jdbcType="INTEGER" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="price" jdbcType="DECIMAL" property="price"/>
        <result column="image_url" jdbcType="VARCHAR" property="imageUrl"/>
        <result column="profile" jdbcType="VARCHAR" property="profile"/>
        <result column="detail" jdbcType="VARCHAR" property="detail"/>
        <result column="count" jdbcType="INTEGER" property="count"/>
        <result column="country" jdbcType="VARCHAR" property="country"/>
        <result column="sort" jdbcType="INTEGER" property="sort"/>
        <result column="buy_type" jdbcType="VARCHAR" property="buyType"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>

    <select id="getProduct" resultMap="BaseResultMap" parameterType="com.exp.shuadan.entity.product.ProductSeachModel">
        select * from product where 1=1
        <if test="startTime != null and endTime != null">
            and create_time &gt;= #{startTime} and create_time &lt;= #{endTime}
        </if>

        <if test="startPrice != null and endPrice != null">
            and price &gt;= #{startPrice} and price &lt;= #{endPrice}
        </if>

        <if test="name != null and name != ''">
            and name like "%"#{name}"%"
        </if>

        <if test="country != null and country != ''">
            and country = #{country}
        </if>

        <if test="buyType != null and buyType != ''">
            and buy_type like "%"#{buyType}"%"
        </if>
    </select>

    <select id="getProductById" resultMap="BaseResultMap">
        select * from product where id = #{id}
    </select>

    <insert id="addProduct" parameterType="com.exp.shuadan.entity.product.Product">
      insert into product
      (name, price, image_url, profile, detail, count, country, sort, buy_type, create_time, update_time)
      values
      (#{name}, #{price}, #{imageUrl}, #{profile}, #{detail}, #{count}, #{country}, #{sort}, #{buyType}, #{createTime}, #{updateTime})
    </insert>

    <delete id="delProduct">
        delete from product where id = #{id}
    </delete>

    <update id="updateProduct" parameterType="com.exp.shuadan.entity.product.Product">
        UPDATE product
        <trim prefix="set" suffixOverrides=",">
            <if test="name!=null">name=#{name},</if>
            <if test="price!=null">price=#{price},</if>
            <if test="imageUrl!=null">image_url=#{imageUrl},</if>
            <if test="profile!=null">profile=#{profile},</if>
            <if test="detail!=null">detail=#{detail},</if>
            <if test="count!=null">count=#{count},</if>
            <if test="country!=null">country=#{country},</if>
            <if test="sort!=null">sort=#{sort},</if>
            <if test="buyType!=null">buy_type=#{buyType},</if>
            <if test="updateTime!=null">update_time=#{updateTime},</if>
        </trim>
        WHERE id=#{id}
    </update>
</mapper>
